.card {
  width: 400px;
  margin: 20px;
  display: inline-block;
}

.card .card-body {
  height: 240px;
}

.add_cdp {
  position: fixed;
  right: 10px;
  top: 10px;
}

.cdp_tabs .tab-content>.tab-pane {
  padding: 1rem;
}

.cdp_tabs {
  padding: 1rem;
}