<h3>UI Analytics Page</h3>

<div class="ui_analytics"  ng-controller="UIAnalyticsCtrl">
	<div class="banner">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Active Users</h5>
				<h1 class="card-value">{{cdp_banner_info.active_users}}</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Total Page Visits</h5>
				<h1 class="card-value">{{cdp_banner_info.total_page_visits}}</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">JS Errors</h5>
				<h1 class="card-value">{{cdp_banner_info.js_errors}}</h1>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">API Errors</h5>
				<h1 class="card-value">{{cdp_banner_info.api_errors}}</h1>
			</div>
		</div>
	</div>

	<live-bar-chart cdpdata="cdp_graph_page_visit"></live-bar-chart>
	<line-chart></line-chart>
	<pie-chart></pie-chart>
	<donut-chart></donut-chart><!-- 
	<donut-animation-chart></donut-animation-chart> -->
	<animated-v-bar-chart></animated-v-bar-chart>
	<animated-h-bar-chart></animated-h-bar-chart>
	<tree-map></tree-map>
	<sun-burst></sun-burst>
</div>
